.højre-div {
    float: right;
    width: 20%;
    white-space: nowrap;
}

.venstre-div {
    float: left;
    width: 70%;
}

.map {
    width: 90%;
    height: auto;
}

.tour-map {
    width: 100%;
    height: auto;    
}

tr:nth-child(even) {
    background: lightgrey;
}

table {
    font-size: 20px;
    align-self: center;
}
