.højre-div {
    float: right;
    width: fit-content;
    white-space: nowrap;
}

.venstre-div {
    float: left;
    width: 80%;
}

.map {
    margin-left: 10%;
    max-width: 70%;
    height: auto;
}

tr:nth-child(even) {
    background: lightgrey;
}

table {
    font-size: 20px;
}