@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcommen til Christiansø Turist Guide</h1>
        <img src="image/map.png" alt="Kort ikke findet">
    </div>
</body>