@{
    ViewData["Title"] = "Tur laveren";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $(".andeDam").on("click", function(){
            $.ajax({url: '@Url.Action("AddTourToDatabase")', type: 'GET', data: {tmpName: "andedam", tmpX: 10, tmpY: 10},
            });
        });
        $(".FroeDam").on("click", function(){
            alert('test');
        });
        $(".DamDam").on("click", function(){
            alert('test');
        });
    });
</script>
<body>
    <div class="text-center">
        <h1 class="display-4">Lav din egen tur her</h1>
        <img src="../image/mapWithPins.png" alt="Kort ikke findet" usemap="#tourmap">
        <map name="tourmap">
            <area class="færgen" shape="circle" coords="440,490,30" href="">
            <area class="" shape="circle" coords="440,490,30" href="">
            
        </map>
        
        <tbody>
                @{
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.ToString() </td>
                        </tr>
                    }
                }
        </tbody>
    </div>
</body>